body{
    background-color: antiquewhite;
    justify-content: center;
}
.display{
    width: 300px;
    height: 370px;
    background-color: white;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
}
button{
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 20px;
    border-radius: 10px;
}
.numField{
    width: 80%;
    height: 40px;
    font-size: 20px;
    margin: 5px;
    border-radius: 10px;
}
.symbolButton{
    background-color: orange;
}